

<div class="container">
    <%= image_tag "shopLogo.svg" %>
     
<h2>Edit this item</h2>

  <form action="/shop/update/<%= @shop.id %>">
    <input class="" name="item" type="text" value="<%= @shop.item %>">
    <input class="" name="cost" type="number" value="<%= @shop.cost %>">
    <input class="" type="submit" value="EDIT">

  </form>
  <br>
    <a href="/" class="simple-link">BACK TO LIST</a>

  
</div>
