<ul class="card">
<% @shops.each do |shop| %>
  <li>
    <input type="checkbox" name=""/>
    <a href="/shop/show/<%= shop.id %>"><%= shop.item %></a>
    <span><%= shop.cost %></span>
  </li>
<% end %>
</ul>

<div>
<a href="/shop/new">Add a item</a>
</div>