

<div class="container">
    <%= image_tag "shopLogo.svg" %>
     
<h2>Add a new item...</h2>

<form action="/shop/create">
  <input class="" id="" name="item" type="text" placeholder="Add a new item...">
  <input class="" id="" name="cost" type="number" placeholder="cost...">
  <input class="button" id="" type="submit" value="Add item">
</form>
  <br>
    <a href="/" class="simple-link">BACK TO LIST</a>

  
</div>