<h2>Add a new item...</h2>

<form action="/shop/create">
  <input class="" id="" name="item" type="text" placeholder="Add a new item...">
  <input class="" id="" name="cost" type="number" placeholder="cost...">
  <input class="button" id="" type="submit" value="Add item">
</form>